<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :instrumentation_id %><br>
    <%= f.collection_select :instrumentation_id, Instrumentation.all, :id, :name, {prompt: ""}, { class: 'chosen-select' } %>

  </div>

  <% if @group.id %>
    <div class="field">
      <%= f.label :complete %><br>
      <%= f.check_box :complete %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :admin_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
