<strong>Pieces:</strong>
  <% if group.pieces.count==0 %>
  <p>
    <em><%=group.name%> doesn't have any pieces yet! <%= link_to "Add some here", pieces_path %></em>
  </p>
  <% else group.pieces.count > 0 %>
  <p>
    <% group.pieces.each do |piece| %>
      <li id="<%=GroupPiece.find_by(group_id: group.id, piece_id: piece.id).id%>"><%= "#{piece.name} by #{piece.composer}"%>
      <%= link_to image_tag("close-button-gray.gif"), GroupPiece.find_by(group_id: group.id, piece_id: piece.id), class: "delete_piece_x" if current_user == group.admin %>
     </li>
    <% end %>
  </p>
  <% end %>