<h1>Ensembles</h1>

<div class="wrapper">


  <% if current_user %>
  <button class="intelligent_ensemble_toggle">Show All Ensembles</button>
  <div class="intelligent_matches">
    <p>Intelligent Matches</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Complete</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.where(complete: false).each do |group| %>
          <% current_user.interests.each do |interest| %>
            <% if interest.instrumentation == group.instrumentation %>
            <tr>
              <td><%= link_to group.name, group %></td>
              <td><%= group.instrumentation.name %></td>
              <td><%= group.complete %></td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

  <div class="all_matches">
    <table>
      <p>All Ensembles</p>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Complete</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %></td>
            <td><%= group.instrumentation.name %></td>
            <td><%= group.complete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <br>

  <%= link_to 'New Group', new_group_path %>
