<h1>Ensembles</h1>

<div class="wrapper">


  <% if current_user %>
  <button class="intelligent_ensemble_toggle">Show All Ensembles</button>
  <div class="intelligent_matches">
    <p>Intelligent Matches</p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Complete</th>
          <th>Location</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.where(complete: false).each do |group| %>
          <% current_user.interests.each do |interest| %>
            <% if interest.instrumentation == group.instrumentation %>
            <tr>
              <td><%= link_to group.name, group %></td>
              <td><%= group.instrumentation.name %></td>
              <td><%= group.complete ? "complete" : "incomplete" %></td>
              <td class="distance"><%= group.admin.city_state %> (<%= group.distance_from(current_user).round(2) %> miles)</td>
            </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>

  <div class="all_ensemble_matches">
    <%= form_for(Group.new) do |f| %>

      <%= f.label :instrumentation_id %>
      <%= f.collection_select :instrumentation_id, Instrumentation.all, :name, :name, {prompt: ""}  %>

      <%= f.label :instruments %>
      <%= f.collection_select :instruments, Instrument.all, :name, :name, {prompt: ""} %>

      <%= f.label :complete %>
      <%= f.collection_select :complete, ["complete", "incomplete"], :to_s, :to_s, {prompt: ""} %>

      <%= f.submit "Search", class:"search_button" %>
      <button class="clear_fields">Clear Fields</button>
    <% end %>

    <table>
      <p>All Ensembles</p>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Complete</th>
          <th>Location</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @all_groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group %></td>
            <td class="group_instrumentation"><%= group.instrumentation.name %></td>
            <td class="group_complete"><%= group.complete ? "complete" : "incomplete" %></td>
            <td class="distance"><%= group.admin.city_state %> (<%= group.distance_from(current_user).round(2) %> miles)</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <br>

  <%= link_to 'New Group', new_group_path %>
