<p id="notice"><%= notice %></p>
<% if current_user == @group.admin %>
  <% Request.where(group_id: @group.id, finalized: nil).each do |request| %>
  <%= link_to request.apply_message, request.user %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Ensemble Type:</strong>
  <%= @group.instrumentation.name %>
  <% @group.instrumentation.instruments.each do |instrument| %>
    <li><%= instrument.name %></li>
  <% end %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @group.complete %>
</p>

<p>
  <strong>Admin:</strong>
  <%= link_to @admin.full_name, @admin %>
</p>
<% if @request %>
  <% if @request.invited? %>
    <%= form_for @request do |f| %>
      <%= f.hidden_field :user_approved, value: true %>
      <%= f.submit "Accept Invitation" %>
    <% end %>
    <%= form_for @request do |f| %>
      <%= f.hidden_field :user_approved, value: false %>
      <%= f.submit "Deny Invitation" %>
    <% end %>
  <% end %>

<% elsif !(@group.member_ids.include? current_user.id) %>
  <p>Would you like to ask to join <%= @group.name %>?</p>
  <%= form_for Request.new do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :user_approved, value: true %>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.hidden_field :part, value: current_user.instrument %>
    <%= f.submit "Ask to Join #{@group.name}" %>
  <% end %>
<% end %>

<p>
  <strong>Members:</strong>
  <% @group.members.each do |member| %>
    <li><%= link_to member.full_name, member %>, <%= member.instrument %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) if current_user == @group.admin %> |
<%= link_to 'Back', groups_path %> |
<%= link_to 'Destroy', @group, method: :delete, data: {confirm: "Are you sure?"} if current_user == @group.admin %>
