<div class="container" id="white_div">
  <% if current_user && current_user == @group.admin %>
    <% Request.where(group_id: @group.id, finalized: nil, group_approved: nil).each do |request| %>
      <%= link_to request.apply_message, request.user %>
    <% end %>

  <% end %>

  <div class="page-header">
    <h1><%= @group.name %><small><%= "#{@group.instrumentation.name}" %></small><span id="notice"><%= notice %></span></h1>
  </div>


  <div class="row">

    <div class="user-info member span4">
       <%= render 'group_info', group: @group, admin: @admin %>
    </div>

    <div class="user-info member span4"><p></p>
      <%= render 'pieces', group: @group %>
    </div>

    <div class="user-info member span4">
      <%= render 'notifications', group: @group, request: @request %>
    </div>

  </div>

  <div class="pieces_on_group_show">
    <%= render 'pieces_iframes', group: @group %>
  </div>

<%= link_to 'Edit', edit_group_path(@group) if current_user == @group.admin %> |
<%= link_to 'Back', groups_path %> |
<%= link_to 'Destroy Group', @group, method: :delete, data: {confirm: "Are you sure?"} if current_user == @group.admin %>
</div>
