
  <p id="notice"><%= notice %></p>
<div class="container"
  <% if current_user == @group.admin %>
    <% Request.where(group_id: @group.id, finalized: nil, group_approved: nil).each do |request| %>
      <%= link_to request.apply_message, request.user %>
    <% end %>

    <% Request.where(group_id: @group.id, finalized: true, user_approved: true).where.not(user_id: @group.admin_id).each do |request| %>
      <%= "#{request.user.full_name} accepted your invitation to join!" %>
    <% end %>
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= @group.name %>
    (<%= @group.distance_from(current_user).round(2) %> miles)
  </p>
  <p>


  <p>
    <div class= "group_parts">
      <strong>Ensemble Type:</strong>
        <%= @group.instrumentation.name %> <a class="show_parts_button">(Show Parts)</a>
        <div class= "show_parts">
          <% @group.instrumentation.instrument_instrumentations.each do |i| %>
            <li><%= i.instrument.name %><%= " (x" + i.quantity.to_s + ")" if i.quantity > 1 %> </li>
          <% end %>
      </div>
    </div>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= @group.complete ? 'yes' : 'no' %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @group.admin.city_state %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= link_to @admin.full_name, @admin %>
  </p>
  <% if @request %>
    <%= "You have already applied to join #{@group.name}! Your request is pending :)" if @request.group_approved == nil && @request.finalized == nil %>
    <% if @request.invited? %>
      <%= form_for @request do |f| %>
        <%= f.hidden_field :user_approved, value: true %>
        <%= f.submit "Accept Invitation" %>
      <% end %>
      <%= form_for @request do |f| %>
        <%= f.hidden_field :user_approved, value: false %>
        <%= f.submit "Deny Invitation" %>
      <% end %>
    <% end %>

  <% elsif !(@group.member_ids.include? current_user.id) %>
    <p>Would you like to ask to join <%= @group.name %>?</p>
    <%= form_for Request.new do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :user_approved, value: true %>
      <%= f.hidden_field :group_id, value: @group.id %>
      <%= f.hidden_field :part, value: current_user.instrument %>
      <%= f.submit "Ask to Join #{@group.name}" %>
    <% end %>
  <% end %>

  <p>
    <strong>Members:</strong>
    <% @group.members.each do |member| %>
      <li><%= link_to member.full_name, member %>, <%= member.instrument.name %></li>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_group_path(@group) if current_user == @group.admin %> |
  <%= link_to 'Back', groups_path %> |
  <%= link_to 'Destroy', @group, method: :delete, data: {confirm: "Are you sure?"} if current_user == @group.admin %>
</div>