<% if (current_user && user != current_user && !current_user.admin_of.empty? && !(current_user.eligible_groups(user)).empty?) %>
    Would you like to invite <%= user.first_name %> to one of your ensembles?

    <%= form_for Request.new do |f| %>
      <p>
      <%= f.collection_select :group_id, current_user.eligible_groups(user), :id, :name %>
      </p>
      <%= f.hidden_field :user_id, value: user.id %>
      <%= f.hidden_field :group_approved, value: true %>
      <%= f.submit "Invite #{user.first_name}", class: "btn" %>
    <% end %>

<% end %>