<h1><%= user.full_name %><small><%= "#{user.instrument.name}" if user.instrument %></small>
<span id="notice">
  <p><%= notice %></p>
  <% if current_user %>
  <p><%= current_user.already_invited(user) if current_user!=user %></p>
  <% end %>
  <p><%= "Welcome to Ensemblify! Please fill out the rest of your profile!" unless (user.check_for_instrument_and_zipcode || user != current_user) %></p>
</span></h1>