<h1>Editing user</h1>

  <%= form_for(@user) do |f| %>
    <p>
    <%= f.label :instrument_id %>
    <%= f.collection_select :instrument_id, @instrument_list, :id, :name %>
    </p>
    <p>
    <%= f.label :level %>
    <%= f.collection_select :level, ["","beginner", "intermediate", "advanced", "professional"], :to_s, :to_s %>
    </p>
    <p>
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
    </p>
    <p>
    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number %>
    </p>
    <p>
    <%= f.label :short_bio %>
    <%= f.text_area :short_bio %>
    </p>
    <%= f.collection_check_boxes :instrumentation_ids, @ensemble_types, :id, :name %>
    </p>
    <p>
    <%= f.label :available %>
    <%= f.collection_select :available, ["Seeking a group", "All set"], :to_s, :to_s %>
    </p>
    <p>
    <%= f.label :video_sample %>
    <%= f.text_field :video_sample, placeholder: "https://www.youtube.com/example" %>
    </p>
    <p>
    <%= f.label :audio_sample %>
    <%= f.text_field :audio_sample, placeholder: "https://soundcloud.com/example" %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>

<%= link_to 'Show', @user %>