<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instrument</th>
      <th>Gender</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Short bio</th>
      <th>Image</th>
      <th>Email</th>
      <th>Zipcode</th>
      <th>Phone number</th>
      <th>Instrument</th>
      <th>Level</th>
      <th>Video sample</th>
      <th>Audio sample</th>
      <th>Type preferences</th>
      <th>Style preferences</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.instrument %></td>
        <td><%= user.gender %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.short_bio %></td>
        <td><%= user.image %></td>
        <td><%= user.email %></td>
        <td><%= user.zipcode %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.instrument %></td>
        <td><%= user.level %></td>
        <td><%= user.video_sample %></td>
        <td><%= user.audio_sample %></td>
        <td><%= user.type_preferences %></td>
        <td><%= user.style_preferences %></td>
        <td><%= user.availability %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
