<h1>Musicians</h1>

<div class="wrapper">

  <button class="intelligent_musician_toggle">Show All Musicians</button>

  <% if current_user %>
    <table class="intelligent_matches">
      <thead>
        <tr>
          <th>Name</th>
          <th>Instrument</th>
          <th>Level</th>
          <th>Ensemble Preferences</th>
          <th>Availability</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.where(available: 'Seeking a group').each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.instrument.name %></td>
            <td><%= user.level %></td>
            <td><%= user.interests.collect{|i|i.instrumentation.name}.uniq.join(", ") %></td>
            <td><%= user.available %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <table class="all_matches">
    <thead>
      <tr>
        <th>Name</th>
        <th>Instrument</th>
        <th>Level</th>
        <th>Ensemble Preferences</th>
        <th>Availability</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.instrument.name %></td>
          <td><%= user.level %></td>
          <td><%= user.interests.collect{|i|i.instrumentation.name}.uniq.join(", ") %></td>
          <td><%= user.available %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_user_path %>
