<p id="notice"><%= notice %></p>
<h1><%= "Welcome, " + @user.full_name + "! Please fill out the rest of your profile!" unless (@user.check_for_instrument_and_zipcode || @user != current_user) %> </h1>

<% if current_user == @user %>
  <% Request.where(user_id: @user.id, finalized: nil).each do |request| %>
  <%= link_to request.invite_message, request.group %>
  <% end %>
<% end %>
<p>
  <%= image_tag @user.image %>
</p>

  <% @user.profile_attributes.each do |attr, value| %>
    <p><strong><%= attr %>: </strong><%= value %></p>
  <% end %>
  <% if @user.interests.any? %>
    <strong>Ensemble Preferences:</strong>
    <% @user.interests.each do |interest| %>
      <%= interest.instrumentation.name %>
    <% end %>
  <% end %>

  <% @user.interests.each do |interest| %>
      <li><%= Instrumentation.find(interest.instrumentation_id).name %></li>
  <% end %>

  <%= link_to 'Update Profile', edit_user_path if current_user==@user%>

  <% if (current_user.pending_requests(@user).size > 0 && @user != current_user) %>
     <p>Add <%= @user.first_name %> to your groups?</p>
     <p><% current_user.pending_requests(@user).each do |request| %>
          <%= form_for request do |f| %>
            <%= f.hidden_field :group_approved, value: true %>
            <%= f.submit "Accept Request to join #{request.group.name}" %>
          <% end %>
          <%= form_for request do |f| %>
            <%= f.hidden_field :group_approved, value: false %>
            <%= f.submit "Deny Request to join #{request.group.name}" %>
          <% end %>
        <%end%>
      </p>

  <% elsif (@user != current_user && !current_user.admin_of.empty? && !(current_user.admin_of - @user.member_of).empty?) %>
    <p>Would you like to invite <%= @user.first_name %> to one of your groups?</p>
    <%= form_for Request.new do |f| %>
      <%= f.label :group_id %>
      <%= f.collection_select :group_id, (current_user.admin_of - @user.member_of), :id, :name %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :group_approved, value: true %>
      <%= f.submit "Invite #{@user.first_name}" %>
    <% end %>
  <% end %>

  <p>
    <strong>Groups:</strong>
    <% @user.member_of.each do |group| %>
      <li><%= link_to group.name, group %></li>
    <% end %>
  </p>


