<p id="notice"><%= notice %></p>
<h3><%= "Welcome, " + @user.first_name + "! Please fill out the rest of your profile!" unless (@user.check_for_instrument_and_zipcode || @user != current_user) %> </h3>

<% if current_user == @user %>
  <% Request.where(user_id: @user.id, finalized: nil, user_approved: nil).each do |request| %>
  <%= link_to request.invite_message, request.group %>
  <% end %>
<% end %>
<h1><%= @user.full_name %></h1>
<p>
  <%= image_tag @user.image %>
</p>
<p><%= "Instrument: #{@user.instrument.name.capitalize}" if @user.instrument %></p>
<p><%= "Level: #{@user.level}" if @user.level %></p>
<p><%= "Available: #{@user.available}" if @user.available %></p>
<p><%= "Location: #{@user.city_state}" if @user.zipcode && @user.city_state %></p>
<p><%= "Bio: #{@user.short_bio}" if !@user.short_bio.empty? %></p>
<p><%= "Video Sample: #{@user.video_sample}" if !@user.video_sample.empty? %></p>
<p><%= "Audio Sample: #{@user.audio_sample}" if !@user.audio_sample.empty? %></p>


<% if @user.interests.any? %>
  <strong>Ensemble Preferences:</strong>
  <% @user.interests.each do |interest| %>
    <li><%= interest.instrumentation.name %></li>
  <% end %>
<% end %>

<%= link_to 'Update Profile', edit_user_path if current_user==@user%>

<% if (current_user.pending_requests(@user).size > 0 && @user != current_user) %>
   <p>Add <%= @user.first_name %> to your groups?</p>
   <p><% current_user.pending_requests(@user).each do |request| %>
        <%= form_for request do |f| %>
          <%= f.hidden_field :group_approved, value: true %>
          <%= f.submit "Accept Request to join #{request.group.name}" %>
        <% end %>
        <%= form_for request do |f| %>
          <%= f.hidden_field :group_approved, value: false %>
          <%= f.submit "Deny Request to join #{request.group.name}" %>
        <% end %>
      <%end%>
    </p>

<% elsif (@user != current_user && !current_user.admin_of.empty? && !(current_user.admin_of - @user.member_of).empty?) %>
  <p>Would you like to invite <%= @user.first_name %> to one of your groups?</p>
  <%= form_for Request.new do |f| %>
    <%= f.label :group_id %>
    <%= f.collection_select :group_id, (current_user.admin_of - @user.member_of), :id, :name %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :group_approved, value: true %>
    <%= f.submit "Invite #{@user.first_name}" %>
  <% end %>
<% end %>
<p>
  <% if !@user.member_of.empty? %>
    <strong>Ensembles:</strong>
    <% @user.member_of.each do |group| %>
      <li><%= link_to group.name, group %></li>
    <% end %>
  <% else %>
    <strong>Ensembles:</strong>
    <% if current_user == @user && current_user.check_for_instrument_and_zipcode %>
      You are not currently a member of any ensembles. Why not <%= link_to 'check some out', groups_path%> or <%= link_to 'create your own', new_group_path %>?
    <% elsif current_user != @user %>
      <strong>Ensembles:</strong>
      <%= "#{@user.first_name} isn't in any ensembles. Invite #{@user.gender_pronoun} to yours!" %>
    <% end %>
  <% end %>
</p>


