<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <%= image_tag @user.image %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= form_for(@user) do |f| %>
  <%= f.label :instrument %>
  <%= f.collection_select :instrument, @instrument_list, :to_s, :to_s %>
  <%= f.label :level %>
  <%= f.collection_select :level, ["beginner", "intermediate", "advanced", "professional"], :to_s, :to_s %>
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>
  <%= f.label :short_bio %>
  <%= f.text_area :short_bio %>
  <%= f.fields_for :interests, Interest.new do |i| %>
    <%= i.label :instrumentation_id %>
    <%= i.collection_check_boxes :instrumentation_id, Instrumentation.all, :id, :name %>
  <% end %>
  <%= f.label :available %>
  <%= f.collection_select :available, ["Seeking a group", "All set"], :to_s, :to_s %>
  <%= f.label :video_sample %>
  <%= f.text_field :video_sample, placeholder: "https://www.youtube.com/example" %>
  <%= f.label :audio_sample %>
  <%= f.text_field :audio_sample, placeholder: "https://soundcloud.com/example" %>

  <%= f.submit %>
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
