<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Instrument:</strong>
  <%#= @user.instrument %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Short bio:</strong>
  <%#= @user.short_bio %>
</p>

<p>
  <%= image_tag @user.image %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%#= @user.zipcode %>
</p>

<p>
  <strong>Phone number:</strong>
  <%#= @user.phone_number %>
</p>

<p>
  <strong>Instrument:</strong>
  <%#= @user.instrument %>
</p>

<p>
  <strong>Level:</strong>
  <%#= @user.level %>
</p>

<p>
  <strong>Video sample:</strong>
  <%#= @user.video_sample %>
</p>

<p>
  <strong>Audio sample:</strong>
  <%#= @user.audio_sample %>
</p>

<p>
  <strong>Type preferences:</strong>
  <%#= @user.type_preferences %>
</p>

<p>
  <strong>Style preferences:</strong>
  <%#= @user.style_preferences %>
</p>

<p>
  <strong>Availability:</strong>
  <%#= @user.availability %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
