<p id="notice"><%= notice %></p>
<h1><%= "Welcome, " + @user.full_name + "!" unless (@user.registered? || @user != current_user) %> </h1>

<% if current_user==@user %> 
  <% Request.where(user_id: @user.id, finalized: nil).each do |request| %>
  <%= link_to request.invite_message, request.group %>
  <% end %>
<% end %>
<p>
  <%= image_tag @user.image %>
</p>

  <% @user.profile_attributes.each do |attr, value| %>
    <p><strong><%= attr %>: </strong><%= value %></p>
  <% end %>
  <strong>Ensemble Preferences:</strong>
  <% @user.interests.each do |interest| %>
      <li><%= Instrumentation.find(interest.instrumentation_id).name %></li>
  <% end %>

  <%= link_to 'Update Profile', edit_user_path if current_user==@user%>


  <% if (@user != current_user && !current_user.admin_of.empty?) %>
    <p>Would you like to invite <%= @user.first_name %> to one of your groups?</p>
    <%= form_for Request.new do |f| %>
      <%= f.label :group_id %>
      <%= f.collection_select :group_id, current_user.admin_of, :id, :name %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :group_approved, value: true %>
      <%= f.submit "Invite #{@user.first_name}" %>
    <% end %>
  <% end %>




