<div class="container" id="white_div">

  <% if current_user == @user %>
    <% Request.where(user_id: @user.id, finalized: nil, user_approved: nil).each do |request| %>
    <%= link_to request.invite_message, request.group %><br>
    <% end %>
  <% end %>

  <div class="page-header">
    <%= render 'main_info', user: @user %>
  </div>

  <div class="row">

    <div class="user-image member span3">
      <%= render 'image', user: @user %>
    </div>

    <div class="user-info member span3">
      <%= render 'user_info_1', user: @user %>
    </div>

    <div class="user-info member span3">
      <%= render 'user_info_2', user: @user %>
    </div>

    <div class="member-of-ensembles member span2"> <!-- both  -->
       <%= render 'user_ensembles', user: @user %>
    </div>

  </div>

  <div class="row">

    <div class="like-to-invite member span4"> <!-- only for other viewing user -->
      <%= render 'invite', user: @user %>
    </div>


    <div class="accept-deny-buttons member span4"> <!-- only for other viewing user -->
      <%= render 'accept_deny', user: @user %>
    </div>

    <div class="email_area member span4"> <!-- only for other viewing user -->
        <%= render 'contact', user: @user %>
    </div>

  </div>

</div>